/* body {
    margin: 3%;
    background-color: gray;

}
.social {
    background-color: gray;
    width: 850px;
    height: 250px;
    border: 50px solid white;
    padding: 10px;
    margin: 30px;
    background-color: blueviolet;

}
h1{
    color: white;     
    position: relative;
    top: 120px;
    left: 300px;
}
h2{
    color: white;
    font-weight: normal;
    position: relative;
    top: 105px;
    left: 300px;
}
.subhead{
    font-weight: bold;
    position: relative;
    top: 150px;
    left: 300px;
}
#about {
    font-weight: 100;
    position: relative;
    top: -33px;
    left: 80px;
}
#welcome {
    font-weight: 100;
    position: relative;
    top: -67px;
    left: 135px;
}
#fwb {
    font-weight: 100;
    position: relative;
    top: -101px;
    left: 209px;
}
#more {
    font-weight: 100;
    position: relative;
    top: -135px;
    left: 260px;
}
.box {
    background-color: blueviolet;
  width: 250px;
  height: 150px;
  border: 1px solid black;
  padding: 1px;
  margin: 2px;
  position: relative;
  top: -190px;
  left: 100px;
}
.box2 {
    width: 865px;
    height: 60px;
    border: 1px dashed black;
    background-color: solid white;
    padding: 1px;
    margin: 1px;
    position: relative;
    top: -236px;
    left: 80px;
}  */