body {
    margin: 0;
    font-family: Georgia;   
}
#container {
    width: 850px;
    margin-left: 328px;
    margin-right: 512px;
}

#container #left{

    width: 512px;
    border-right: 4px solid black;
    float: left;
    background-color: yellow;
    height:1000px;
    padding: 3px;
}
#box{
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background-color: black;
    float: left;
    color: white;
}
#container #right{
    width: 328px;
    float: right;
    background-color: green;
    height:1006px;
}
#box2 {
    color: white;
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    background-color: blue;
    float: right middle;
    margin-top: 35em;
    margin-left: 7em;
    padding: 2px;
    
}
h1 {
    position: relative;
    top: 600px;
    left: 350px;
    color: purple;
    font-size: 73px;
} 
.footer {
    position: bottom sticky;
    text-align: center;
    background-color: rgba red;
    border: 2px solid black;
    color: brown;

      
}